.question-box {
    /* align-items: center; */
    flex-direction: column;
    height: 100%;
    padding: 25px;
    text-align: left;
  }
  
  .options {
    margin-top: 10px;
  }
  
  input {
    margin-right: 5px;
  }
  
  /* .prev,
  .next, .refresh, .home  */
  button {
    margin-top: 20px;
    padding: 10px 20px;    
    color: #fff;
    border: none;
    /* background-color: rgb(81, 89, 80); */
    background-color:#3889D0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }

 button:hover {
  /* background-color: rgb(61, 69, 60); */
  opacity: 0.80;
  #1E8BEA
}
  
  .prev, .refresh {
    margin-right: 10px;
  }
  
  .score {
    /* background-color: mediumturquoise; */
    background-color: lightseagreen;
    border-radius: 4px;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  .selector-container {
    display: flex;
    align-items: center;
    margin: 30px;
    margin: 0 au;
  }
  
  .selector-container label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 10px; 
  }
  
  .selector-container select {
    cursor: pointer;
    height: 20px;
    text-align: center;
  }
  
  h1,
h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}
p, input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}