<h1 class="title">YukiDev</h1>
<div class="landing">
  <img src="../../../assets/desktopYuki.jpg" alt="eskie" class="image" />
  <div class="buttons">
    <h1>Welcome to FlashLearn!</h1>
    <p class="paragraph">
      Welcome to FlashLearn, your ultimate tool for mastering programming and
      database concepts! Our app offers an extensive collection of flashcards
      and quizzes designed to help you prepare for technical interviews and
      deepen your understanding of essential topics. From Object-Oriented
      Programming in C# to Angular, ASP.NET MVC, JavaScript, SQL, and CSS,
      FlashLearn provides you with a comprehensive and interactive learning
      experience. Start practicing with our flashcards, track your progress, and
      test your knowledge with our tailored quizzes to ensure you're ready for
      any challenge!
    </p>
    <button class="choooseButton" (click)="goToCards()">Flash Cards</button>
    <button class="choooseButton" (click)="goToQuizzes()">Quizzes</button>
  </div>
</div>
