<div class="container">
  <div class="image-wrapper">
    <img src="assets/images/eskieDev.png" alt="eskie" class="image" />
    <h1 class="title" title="Home"><a (click)="home()">YukiDev</a></h1>
  </div>
  <div class="quiz-container">
    <div class="header">
      <h1>Quiz App</h1>
      <timer *ngIf="isQuizToBeStarted"></timer>
    </div>
    <div class="quiz-questions" *ngIf="isQuizToBeStarted; else showThis">
      <app-questions (quizFinished)="onQuizFinished()"></app-questions>
    </div>
    <ng-template #showThis>
      <div class="start">
        <button (click)="onStart()">Start Quiz</button>
      </div>
    </ng-template>
  </div>
</div>
